# Android
android/.gradle/
android/build/
android/*/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/.cxx/

# iOS / Xcode
ios/**/build/
ios/**/*.xcuserstate
ios/**/xcuserdata/
ios/**/DerivedData/
ios/**/.swiftpm/

# General
.DS_Store
*.log
